.Task {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 580px;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.ToDoContainer {
  display: flex;
  align-items: center;
}

.Task header {
  margin-bottom: 20px;
}

.link {
  color: black;
}

.Task p {
  text-align: left;
  padding: 0 15px;
  font-style: italic;
  word-wrap: break-word;
}

.Task form {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  margin: 5px auto;
  width: 90%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.countOfWords {
  text-align: right;
  font-size: 10px;
  margin-bottom: 20px;
}

::-webkit-scrollbar-track {
  background: white;
}