.TodaysTasks {
  text-align: left;
  width: 85%;
  margin: 20px auto;
}

.TodaysTasks>h2, .TodaysTasks h4 {
  text-align: center;
}

.TodaysTasks>div {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  .TodaysTasks {
    width: 100%;
  }
}