.mainPageContaier {
  display: flex;
  flex-direction: column;
  min-height: 580px;
  justify-content: space-between;
}

.link {
  color: white;
  align-self: center;
  margin-bottom: 20px;
}

@media screen and (min-height: 750px) {
  .mainPageContaier {
    min-height: 700px;
  }
}