.RegisterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

.RegisterContainer>form {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  margin: 5px auto;
  width: 60%;
}

.RegisterContainer>div {
  margin: 10px 0;
}

.link {
  align-self: center;
}