.ToDoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.link {
  color: black;
}

.dark {
  color: #e3e3e3;
}

.link>div {
  max-width: 200px;
  word-wrap: break-word;
}

@media screen and (max-width: 380px) {
  .link>div {
    max-width: 120px;
  }
}