.App {
  text-align: center;
  max-width: 722px;
  margin: 20px auto;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  min-height: 580px;
}

a {
  text-decoration: none;
}

.dark {
  background-color: #8590b6;
  color: #e3e3e3;
}

@media screen and (max-width: 780px) {
  .App {
    margin: 0;
    padding: 10px;
  }
}

@media screen and (min-height: 750px) {
  .App {
    min-height: 700px;
  }
}
