.App {
  text-align: center;
  max-width: 722px;
  margin: 20px auto;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  min-height: 580px;
}

a {
  text-decoration: none;
}

.dark {
  background-color: #8590b6;
  color: #e3e3e3;
}
