body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150);
  border-radius: 20px;
}

.darkBody {
  background-color: #101a3cd4;
}

.darkBody::-webkit-scrollbar-track {
  background-color: #101a3cd4;
}

@media screen and (max-width: 780px) {
  body {
    background-color: white;
    font-size: 12px;
  }

  ::-webkit-scrollbar-track {
    background: white;
  }

  .darkBody {
    background-color: #8590b6;;
  }

  .darkBody::-webkit-scrollbar-track {
    background-color: #8590b6;
  }
}
