.daysContainer {
  overflow-x: scroll;
  display: flex;
  padding: 5px 0;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

.dark::-webkit-scrollbar-track {
  background: #8590b6;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150);
  border-radius: 20px;
}

.dark::-webkit-scrollbar-thumb {
  background-color: rgb(52, 58, 95);
}