.newTaskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newTaskContainer>form {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  margin: 5px auto;
  width: 80%;
}

.newTaskContainer>header {
  text-align: left;
  width: 90%;
  margin: auto;
}

.link {
  color: black;
}