.RegistrationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

.RegistrationContainer>form {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  margin: 5px auto;
  width: 60%;
}

.RegistrationContainer>div {
  margin: 10px 0;
}

.link {
  align-self: center;
}

.dark {
  color: #e3e3e3;
}

.darkLink {
  color: #29307b;
}